In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.tseries.offsets import MonthEnd
import statsmodels.api as sm

In [2]:
!pip install cvxpy

Collecting cvxpy
  Obtaining dependency information for cvxpy from https://files.pythonhosted.org/packages/9d/b0/19028903198cff00a03031aeb7fd4753e4379951e4a48986ef7e3503ff53/cvxpy-1.6.0-cp311-cp311-macosx_10_9_universal2.whl.metadata
  Downloading cvxpy-1.6.0-cp311-cp311-macosx_10_9_universal2.whl.metadata (9.2 kB)
Collecting osqp>=0.6.2 (from cvxpy)
  Obtaining dependency information for osqp>=0.6.2 from https://files.pythonhosted.org/packages/cd/6d/0d17e8fa61809c125f97685d86e6cd6f7b1e745e01b8d3f96d783c8de41b/osqp-0.6.7.post3-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading osqp-0.6.7.post3-cp311-cp311-macosx_11_0_arm64.whl.metadata (1.9 kB)
Collecting clarabel>=0.5.0 (from cvxpy)
  Obtaining dependency information for clarabel>=0.5.0 from https://files.pythonhosted.org/packages/8b/b9/e41f5316a2d4261c340d9fa6aa1694dd57d12cc45f1e5dfc5773d2b53d39/clarabel-0.9.0-cp37-abi3-macosx_10_12_x86_64.macosx_11_0_arm64.macosx_10_12_universal2.whl.metadata
  Downloading clarabel-0.9.0-cp37-abi3-macosx_10_12_x86_64.macosx_11_0_arm64.macosx_10_12_universal2.whl.metadata (4.8 kB)
Collecting scs>=3.2.4.post1 (from cvxpy)
  Obtaining dependency information for scs>=3.2.4.post1 from https://files.pythonhosted.org/packages/6e/6c/ee6f4b890b925f9a4696185c5b8c01cce0adbdef1f823662525196a5149c/scs-3.2.7-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading scs-3.2.7-cp311-cp311-macosx_11_0_arm64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy>=1.20 in /Users/murtadha.ramadhan/anaconda3/envs/py3k/lib/python3.11/site-packages (from cvxpy) (1.25.2)
Requirement already satisfied: scipy>=1.1.0 in /Users/murtadha.ramadhan/anaconda3/envs/py3k/lib/python3.11/site-packages (from cvxpy) (1.11.1)
Collecting qdldl (from osqp>=0.6.2->cvxpy)
  Obtaining dependency information for qdldl from https://files.pythonhosted.org/packages/b6/80/03426746bbf1151cef417f1cbd525375e358199620fea50af6f2d994b8d3/qdldl-0.1.7.post4-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading qdldl-0.1.7.post4-cp311-cp311-macosx_11_0_arm64.whl.metadata (1.7 kB)
Downloading cvxpy-1.6.0-cp311-cp311-macosx_10_9_universal2.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 21.0 MB/s eta 0:00:00a 0:00:01
Downloading clarabel-0.9.0-cp37-abi3-macosx_10_12_x86_64.macosx_11_0_arm64.macosx_10_12_universal2.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 20.6 MB/s eta 0:00:00a 0:00:01
Downloading osqp-0.6.7.post3-cp311-cp311-macosx_11_0_arm64.whl (237 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 237.6/237.6 kB 15.8 MB/s eta 0:00:00
Downloading scs-3.2.7-cp311-cp311-macosx_11_0_arm64.whl (93 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.5/93.5 kB 13.4 MB/s eta 0:00:00
Downloading qdldl-0.1.7.post4-cp311-cp311-macosx_11_0_arm64.whl (99 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 99.7/99.7 kB 10.1 MB/s eta 0:00:00
Installing collected packages: scs, qdldl, clarabel, osqp, cvxpy
Successfully installed clarabel-0.9.0 cvxpy-1.6.0 osqp-0.6.7.post3 qdldl-0.1.7.post4 scs-3.2.7

In [3]:
import cvxpy as cp

In [4]:
import os
os.getcwd()

'/Users/murtadha.ramadhan/Library/CloudStorage/GoogleDrive-muhmurtadha29@gmail.com/My Drive/Campus/Master Study/Courses/Fall 2024/FBE-551 Quantitative Investing/Final Project'

In [5]:
pip install pyarrow

Requirement already satisfied: pyarrow in /Users/murtadha.ramadhan/anaconda3/envs/py3k/lib/python3.11/site-packages (18.0.0)
Note: you may need to restart the kernel to use updated packages.

In [27]:
stocks = pd.read_feather('crsp_monthly_stocks.feather')
cstat  = pd.read_feather('compustat_annual.feather')

In [7]:
stocks.head(5)
stocks.describe()

,PERMNO,DATE,SHRCD,EXCHCD,SICCD,PRC,VOL,RET,SPREAD,RETX,SHROUT
count,3.452888e+06,3452888,3.452888e+06,3.452888e+06,3.450444e+06,3.353586e+06,3.084901e+06,3.327329e+06,652462.000000,3.327329e+06,3.449185e+06
mean,5.339424e+04,1994-05-28 01:08:05.328687232,1.078982e+01,2.231129e+00,4.710997e+03,3.390743e+01,9.458951e+04,1.131887e-02,0.606743,1.006487e-02,4.941455e+04
min,1.000000e+04,1962-01-31 00:00:00,1.000000e+01,-2.000000e+00,0.000000e+00,-1.832500e+03,0.000000e+00,-9.956895e-01,0.000700,-9.956895e-01,0.000000e+00
25%,2.655000e+04,1982-09-30 00:00:00,1.100000e+01,1.000000e+00,3.310000e+03,1.750000e+00,8.660000e+02,-6.753246e-02,0.250000,-6.896552e-02,3.019000e+03
50%,5.519200e+04,1994-08-31 00:00:00,1.100000e+01,3.000000e+00,4.231000e+03,1.025000e+01,5.102000e+03,0.000000e+00,0.500000,0.000000e+00,9.059000e+03
75%,7.985100e+04,2005-10-31 00:00:00,1.100000e+01,3.000000e+00,6.311000e+03,2.456250e+01,3.531200e+04,7.142857e-02,0.750000,7.017544e-02,2.955700e+04
max,9.343600e+04,2023-06-30 00:00:00,1.100000e+01,3.300000e+01,9.999000e+03,5.289210e+05,2.012427e+08,2.400000e+01,885.000000,2.400000e+01,2.920640e+07
std,2.760474e+04,NaN,4.074335e-01,1.018957e+00,2.226137e+03,2.032218e+03,6.735851e+05,1.838868e-01,1.655317,1.839046e-01,2.646959e+05

In [28]:
stocks['DATE'] = stocks['DATE'] + MonthEnd(0)
stocks['date'] = stocks['DATE']
stocks['PRC']  = np.abs(stocks['PRC'])
stocks['MV'] = stocks['SHROUT']*stocks['PRC']
stocks.drop(['SHROUT','SHRCD','EXCHCD','SICCD','PRC','VOL'], axis=1, inplace=True)
stocks.set_index(['PERMNO','DATE'], inplace=True)
stocks.sort_index(inplace=True)
stocks.head()

                         RET   SPREAD      RETX       date            MV
PERMNO  DATE
10000.0 1986-01-31       NaN  0.25000       NaN 1986-01-31  16100.000000
        1986-02-28 -0.257143  0.25000 -0.257143 1986-02-28  11960.000000
        1986-03-31  0.365385  0.12500  0.365385 1986-03-31  16330.000000
        1986-04-30 -0.098592  0.25000 -0.098592 1986-04-30  15172.000000
        1986-05-31 -0.222656  0.09375 -0.222656 1986-05-31  11793.859375

In [9]:
cstat.head(5)

,DATADATE,FYEAR,LPERMNO,AT,CEQ,CHE,LT,PSTK,SEQ,DVT,IB,SALE,CAPX
0,1970-12-31,1970.0,25881.0,33.450,10.544,1.660,22.906,0.000,10.544,0.000,1.878,45.335,2.767
1,1971-12-31,1971.0,25881.0,29.330,8.381,2.557,20.948,0.000,8.382,0.000,0.138,47.033,1.771
2,1972-12-31,1972.0,25881.0,19.907,7.021,2.027,12.886,0.000,7.021,0.000,1.554,34.362,1.254
3,1973-12-31,1973.0,25881.0,21.771,8.567,1.357,13.204,0.000,8.567,0.000,1.863,37.750,1.633
4,1974-12-31,1974.0,25881.0,25.638,9.843,1.338,15.381,0.414,10.257,0.021,1.555,50.325,1.313

In [29]:
cstat.rename(columns={"LPERMNO":"PERMNO", "DATADATE":"DATE"}, inplace=True)
cstat.head(5)

,DATE,FYEAR,PERMNO,AT,CEQ,CHE,LT,PSTK,SEQ,DVT,IB,SALE,CAPX
0,1970-12-31,1970.0,25881.0,33.450,10.544,1.660,22.906,0.000,10.544,0.000,1.878,45.335,2.767
1,1971-12-31,1971.0,25881.0,29.330,8.381,2.557,20.948,0.000,8.382,0.000,0.138,47.033,1.771
2,1972-12-31,1972.0,25881.0,19.907,7.021,2.027,12.886,0.000,7.021,0.000,1.554,34.362,1.254
3,1973-12-31,1973.0,25881.0,21.771,8.567,1.357,13.204,0.000,8.567,0.000,1.863,37.750,1.633
4,1974-12-31,1974.0,25881.0,25.638,9.843,1.338,15.381,0.414,10.257,0.021,1.555,50.325,1.313

In [30]:
cstat.set_index(['PERMNO','DATE'], inplace=True)
cstat.sort_index(inplace=True)
cstat.head()

                     FYEAR      AT    CEQ    CHE      LT  PSTK    SEQ    DVT  \
PERMNO  DATE
10000.0 1986-10-31  1986.0   2.115  0.418  0.348   1.697   0.0  0.418  0.000
10001.0 1986-06-30  1986.0  12.242  5.432  0.746   6.810   0.0  5.432  0.365
        1987-06-30  1987.0  11.771  5.369  0.729   6.402   0.0  5.369  0.416
        1988-06-30  1988.0  11.735  5.512  0.744   6.223   0.0  5.512  0.427
        1989-06-30  1989.0  18.565  6.321  1.177  12.244   0.0  6.321  0.459

                       IB    SALE   CAPX
PERMNO  DATE
10000.0 1986-10-31 -0.730   1.026  0.240
10001.0 1986-06-30  0.669  21.460  0.551
        1987-06-30  0.312  16.621  0.513
        1988-06-30  0.542  16.978  0.240
        1989-06-30  1.208  22.910  0.444

In [31]:
famafrench = pd.read_csv('FamaFrenchMonthly.csv',parse_dates=[0],date_format='%Y%m')
famafrench['Month'] = famafrench['Date'].dt.to_period('M')
# famafrench['Date'] = famafrench['Date'] + MonthEnd(0)
# famafrench['Month'] = famafrench['Date'].map(datetime.datetime.date).dt.to_period('M')
famafrench.set_index(['Month'], inplace=True)

In [13]:
famafrench.head()

              Date  Mkt-RF   SMB   HML    RF
Month
1926-07 1926-07-01    2.96 -2.56 -2.43  0.22
1926-08 1926-08-01    2.64 -1.17  3.82  0.25
1926-09 1926-09-01    0.36 -1.40  0.13  0.23
1926-10 1926-10-01   -3.24 -0.09  0.70  0.32
1926-11 1926-11-01    2.53 -0.10 -0.51  0.31

In [32]:
stocks = stocks.sort_values(by = ['PERMNO','MV'], ascending = [True, False])
cstat  = cstat.sort_values(by = ['PERMNO','SEQ'], ascending = [True, False])

In [33]:
stocks = stocks.merge(cstat[['IB','SEQ', 'SALE']], how='left', on=['PERMNO','DATE'])

In [34]:
stocks

                         RET   SPREAD      RETX       date            MV  IB  \
PERMNO  DATE
10000.0 1986-03-31  0.365385  0.12500  0.365385 1986-03-31  1.633000e+04 NaN
        1986-01-31       NaN  0.25000       NaN 1986-01-31  1.610000e+04 NaN
        1986-04-30 -0.098592  0.25000 -0.098592 1986-04-30  1.517200e+04 NaN
        1986-02-28 -0.257143  0.25000 -0.257143 1986-02-28  1.196000e+04 NaN
        1986-05-31 -0.222656  0.09375 -0.222656 1986-05-31  1.179386e+04 NaN
...                      ...      ...       ...        ...           ...  ..
93436.0 2010-06-30       NaN      NaN       NaN 2010-06-30  2.220908e+06 NaN
        2010-10-31  0.070326      NaN  0.070326 2010-10-31  2.037039e+06 NaN
        2010-09-30  0.047485      NaN  0.047485 2010-09-30  1.902828e+06 NaN
        2010-07-31 -0.163240      NaN -0.163240 2010-07-31  1.858368e+06 NaN
        2010-08-31 -0.023069      NaN -0.023069 2010-08-31  1.815497e+06 NaN

                    SEQ  SALE
PERMNO  DATE
10000.0 1986-03-31  NaN   NaN
        1986-01-31  NaN   NaN
        1986-04-30  NaN   NaN
        1986-02-28  NaN   NaN
        1986-05-31  NaN   NaN
...                 ...   ...
93436.0 2010-06-30  NaN   NaN
        2010-10-31  NaN   NaN
        2010-09-30  NaN   NaN
        2010-07-31  NaN   NaN
        2010-08-31  NaN   NaN

[3452888 rows x 8 columns]

- value -> P/E Ratio
- quality -> Profitability

In [35]:
stocks['lag EP v1'] = stocks['IB'].groupby('PERMNO').shift(6) / stocks['MV'].groupby('PERMNO').shift(6) * 1000

In [36]:
stocks.loc[14593].tail(24)

,RET,SPREAD,RETX,date,MV,IB,SEQ,SALE,lag EP v1
DATE,,,,,,,,,
1983-10-31,-0.021622,NaN,-0.021622,1983-10-31,1.339355e+06,NaN,NaN,NaN,NaN
1985-04-30,-0.039548,NaN,-0.039548,1985-04-30,1.307236e+06,NaN,NaN,NaN,NaN
1985-11-30,0.080537,NaN,0.080537,1985-11-30,1.244731e+06,NaN,NaN,NaN,NaN
1981-12-31,0.187291,0.125,0.187291,1981-12-31,1.229653e+06,NaN,NaN,NaN,0.056038
1983-11-30,-0.099448,NaN,-0.099448,1983-11-30,1.206159e+06,NaN,NaN,NaN,NaN
1985-10-31,0.182540,NaN,0.182540,1985-10-31,1.151956e+06,NaN,NaN,NaN,NaN
1982-01-31,-0.078873,0.125,-0.078873,1982-01-31,1.132667e+06,NaN,NaN,NaN,NaN
1981-08-31,-0.194514,0.125,-0.194514,1981-08-31,1.113058e+06,NaN,NaN,NaN,NaN
1981-10-31,0.310204,0.125,0.310204,1981-10-31,1.109637e+06,NaN,NaN,NaN,NaN
1985-06-30,0.035971,NaN,0.035971,1985-06-30,1.109160e+06,NaN,NaN,NaN,NaN
1985-05-31,-0.182353,NaN,-0.182353,1985-05-31,1.068858e+06,NaN,NaN,NaN,NaN
1982-09-30,0.013841,0.125,0.013841,1982-09-30,1.053500e+06,61.306,257.092,583.061,NaN
1981-11-30,-0.068536,0.125,-0.068536,1981-11-30,1.033587e+06,NaN,NaN,NaN,NaN
1982-08-31,0.331797,0.125,0.331797,1982-08-31,1.024920e+06,NaN,NaN,NaN,NaN
1982-02-28,-0.103976,0.125,-0.103976,1982-02-28,1.014897e+06,NaN,NaN,NaN,NaN
1985-07-31,-0.118056,NaN,-0.118056,1985-07-31,9.782175e+05,NaN,NaN,NaN,NaN
1985-09-30,0.050000,NaN,0.050000,1985-09-30,9.741375e+05,61.223,550.487,1918.280,NaN
1982-03-31,-0.075085,0.125,-0.075085,1982-03-31,9.567655e+05,NaN,NaN,NaN,0.058193
1985-08-31,-0.055118,NaN,-0.055118,1985-08-31,9.243000e+05,NaN,NaN,NaN,NaN
1981-09-30,-0.241486,0.125,-0.241486,1981-09-30,8.469191e+05,39.420,177.387,334.783,NaN
1982-04-30,-0.125461,0.125,-0.125461,1982-04-30,8.367285e+05,NaN,NaN,NaN,NaN
1982-05-31,-0.050633,0.125,-0.050633,1982-05-31,7.943625e+05,NaN,NaN,NaN,NaN
1982-07-31,0.058537,0.125,0.058537,1982-07-31,7.695769e+05,NaN,NaN,NaN,0.062848
1982-06-30,-0.088889,0.125,-0.088889,1982-06-30,7.270197e+05,NaN,NaN,NaN,NaN

In [37]:
stocks['lag EP v1']  = stocks['lag EP v1'].groupby('PERMNO').fillna(method='pad', limit=15)

In [38]:
stocks.loc[14593].tail(24)

,RET,SPREAD,RETX,date,MV,IB,SEQ,SALE,lag EP v1
DATE,,,,,,,,,
1983-10-31,-0.021622,NaN,-0.021622,1983-10-31,1.339355e+06,NaN,NaN,NaN,0.042115
1985-04-30,-0.039548,NaN,-0.039548,1985-04-30,1.307236e+06,NaN,NaN,NaN,0.042115
1985-11-30,0.080537,NaN,0.080537,1985-11-30,1.244731e+06,NaN,NaN,NaN,0.042115
1981-12-31,0.187291,0.125,0.187291,1981-12-31,1.229653e+06,NaN,NaN,NaN,0.056038
1983-11-30,-0.099448,NaN,-0.099448,1983-11-30,1.206159e+06,NaN,NaN,NaN,0.056038
1985-10-31,0.182540,NaN,0.182540,1985-10-31,1.151956e+06,NaN,NaN,NaN,0.056038
1982-01-31,-0.078873,0.125,-0.078873,1982-01-31,1.132667e+06,NaN,NaN,NaN,0.056038
1981-08-31,-0.194514,0.125,-0.194514,1981-08-31,1.113058e+06,NaN,NaN,NaN,0.056038
1981-10-31,0.310204,0.125,0.310204,1981-10-31,1.109637e+06,NaN,NaN,NaN,0.056038
1985-06-30,0.035971,NaN,0.035971,1985-06-30,1.109160e+06,NaN,NaN,NaN,0.056038
1985-05-31,-0.182353,NaN,-0.182353,1985-05-31,1.068858e+06,NaN,NaN,NaN,0.056038
1982-09-30,0.013841,0.125,0.013841,1982-09-30,1.053500e+06,61.306,257.092,583.061,0.056038
1981-11-30,-0.068536,0.125,-0.068536,1981-11-30,1.033587e+06,NaN,NaN,NaN,0.056038
1982-08-31,0.331797,0.125,0.331797,1982-08-31,1.024920e+06,NaN,NaN,NaN,0.056038
1982-02-28,-0.103976,0.125,-0.103976,1982-02-28,1.014897e+06,NaN,NaN,NaN,0.056038
1985-07-31,-0.118056,NaN,-0.118056,1985-07-31,9.782175e+05,NaN,NaN,NaN,0.056038
1985-09-30,0.050000,NaN,0.050000,1985-09-30,9.741375e+05,61.223,550.487,1918.280,0.056038
1982-03-31,-0.075085,0.125,-0.075085,1982-03-31,9.567655e+05,NaN,NaN,NaN,0.058193
1985-08-31,-0.055118,NaN,-0.055118,1985-08-31,9.243000e+05,NaN,NaN,NaN,0.058193
1981-09-30,-0.241486,0.125,-0.241486,1981-09-30,8.469191e+05,39.420,177.387,334.783,0.058193
1982-04-30,-0.125461,0.125,-0.125461,1982-04-30,8.367285e+05,NaN,NaN,NaN,0.058193
1982-05-31,-0.050633,0.125,-0.050633,1982-05-31,7.943625e+05,NaN,NaN,NaN,0.058193
1982-07-31,0.058537,0.125,0.058537,1982-07-31,7.695769e+05,NaN,NaN,NaN,0.062848
1982-06-30,-0.088889,0.125,-0.088889,1982-06-30,7.270197e+05,NaN,NaN,NaN,0.062848

In [39]:
stocks['lag IB']  = stocks['IB'].groupby('PERMNO').shift(6).fillna(method='pad', limit=15)

In [43]:
stocks.loc[14593].tail(24)

,RET,SPREAD,RETX,date,MV,IB,SEQ,SALE,lag EP v1,lag IB,lag NIM
DATE,,,,,,,,,,,
1983-10-31,-0.021622,NaN,-0.021622,1983-10-31,1.339355e+06,NaN,NaN,NaN,0.042115,64.055,0.042256
1985-04-30,-0.039548,NaN,-0.039548,1985-04-30,1.307236e+06,NaN,NaN,NaN,0.042115,64.055,0.042256
1985-11-30,0.080537,NaN,0.080537,1985-11-30,1.244731e+06,NaN,NaN,NaN,0.042115,64.055,0.042256
1981-12-31,0.187291,0.125,0.187291,1981-12-31,1.229653e+06,NaN,NaN,NaN,0.056038,76.714,0.078059
1983-11-30,-0.099448,NaN,-0.099448,1983-11-30,1.206159e+06,NaN,NaN,NaN,0.056038,76.714,0.078059
1985-10-31,0.182540,NaN,0.182540,1985-10-31,1.151956e+06,NaN,NaN,NaN,0.056038,76.714,0.078059
1982-01-31,-0.078873,0.125,-0.078873,1982-01-31,1.132667e+06,NaN,NaN,NaN,0.056038,76.714,0.078059
1981-08-31,-0.194514,0.125,-0.194514,1981-08-31,1.113058e+06,NaN,NaN,NaN,0.056038,76.714,0.078059
1981-10-31,0.310204,0.125,0.310204,1981-10-31,1.109637e+06,NaN,NaN,NaN,0.056038,76.714,0.078059
1985-06-30,0.035971,NaN,0.035971,1985-06-30,1.109160e+06,NaN,NaN,NaN,0.056038,76.714,0.078059
1985-05-31,-0.182353,NaN,-0.182353,1985-05-31,1.068858e+06,NaN,NaN,NaN,0.056038,76.714,0.078059
1982-09-30,0.013841,0.125,0.013841,1982-09-30,1.053500e+06,61.306,257.092,583.061,0.056038,76.714,0.078059
1981-11-30,-0.068536,0.125,-0.068536,1981-11-30,1.033587e+06,NaN,NaN,NaN,0.056038,76.714,0.078059
1982-08-31,0.331797,0.125,0.331797,1982-08-31,1.024920e+06,NaN,NaN,NaN,0.056038,76.714,0.078059
1982-02-28,-0.103976,0.125,-0.103976,1982-02-28,1.014897e+06,NaN,NaN,NaN,0.056038,76.714,0.078059
1985-07-31,-0.118056,NaN,-0.118056,1985-07-31,9.782175e+05,NaN,NaN,NaN,0.056038,76.714,0.078059
1985-09-30,0.050000,NaN,0.050000,1985-09-30,9.741375e+05,61.223,550.487,1918.280,0.056038,76.714,0.078059
1982-03-31,-0.075085,0.125,-0.075085,1982-03-31,9.567655e+05,NaN,NaN,NaN,0.058193,61.306,0.105145
1985-08-31,-0.055118,NaN,-0.055118,1985-08-31,9.243000e+05,NaN,NaN,NaN,0.058193,61.306,0.105145
1981-09-30,-0.241486,0.125,-0.241486,1981-09-30,8.469191e+05,39.420,177.387,334.783,0.058193,61.306,0.105145
1982-04-30,-0.125461,0.125,-0.125461,1982-04-30,8.367285e+05,NaN,NaN,NaN,0.058193,61.306,0.105145
1982-05-31,-0.050633,0.125,-0.050633,1982-05-31,7.943625e+05,NaN,NaN,NaN,0.058193,61.306,0.105145
1982-07-31,0.058537,0.125,0.058537,1982-07-31,7.695769e+05,NaN,NaN,NaN,0.062848,61.223,0.031916
1982-06-30,-0.088889,0.125,-0.088889,1982-06-30,7.270197e+05,NaN,NaN,NaN,0.062848,61.223,0.031916

In [41]:
# calculate net income margin

stocks['lag NIM'] = stocks['IB'].groupby('PERMNO').shift(6) / stocks['SALE'].groupby('PERMNO').shift(6)

In [65]:
stocks['lag IB'] = stocks['IB'] .groupby('PERMNO').shift(6).fillna(method='pad', limit=15)
stocks['lag SALE'] = stocks['SALE'] .groupby('PERMNO').shift(6).fillna(method='pad', limit=15)

In [42]:
stocks['lag NIM']  = stocks['lag NIM'].groupby('PERMNO').fillna(method='pad', limit=15)

In [45]:
stocks.tail()

                         RET  SPREAD      RETX       date            MV  IB  \
PERMNO  DATE
93436.0 2010-06-30       NaN     NaN       NaN 2010-06-30  2.220908e+06 NaN
        2010-10-31  0.070326     NaN  0.070326 2010-10-31  2.037039e+06 NaN
        2010-09-30  0.047485     NaN  0.047485 2010-09-30  1.902828e+06 NaN
        2010-07-31 -0.163240     NaN -0.163240 2010-07-31  1.858368e+06 NaN
        2010-08-31 -0.023069     NaN -0.023069 2010-08-31  1.815497e+06 NaN

                    SEQ  SALE  lag EP v1   lag IB   lag NIM
PERMNO  DATE
93436.0 2010-06-30  NaN   NaN  -0.085159 -254.411 -1.245635
        2010-10-31  NaN   NaN  -0.085159 -254.411 -1.245635
        2010-09-30  NaN   NaN  -0.085159 -254.411 -1.245635
        2010-07-31  NaN   NaN  -0.061062 -154.328 -1.321935
        2010-08-31  NaN   NaN  -0.061062 -154.328 -1.321935

In [148]:
stocks_filtered = stocks.loc[(stocks['lag EP v1']>0.01) & (stocks['lag EP v1']<.5) & (stocks['lag NIM']>0) & (stocks['lag NIM']<=0.5)]

In [52]:
stocks.sort_values(by = 'lag NIM').head()

                         RET  SPREAD      RETX       date            MV  IB  \
PERMNO  DATE
14809.0 1987-05-31  0.100000   0.125  0.100000 1987-05-31   6140.750000 NaN
14127.0 2021-11-30 -0.297488     NaN -0.297488 2021-11-30  36802.399216 NaN
15538.0 2017-03-31 -0.112500     NaN -0.112500 2017-03-31  80610.557564 NaN
        2015-09-30 -0.118527     NaN -0.118527 2015-09-30  83199.088343 NaN
        2017-09-30 -0.026403     NaN -0.026403 2017-09-30  83785.901354 NaN

                    SEQ  SALE  lag EP v1  lag IB  lag NIM
PERMNO  DATE
14809.0 1987-05-31  NaN   NaN  -0.240328  -1.873     -inf
14127.0 2021-11-30  NaN   NaN  -0.378338 -14.720     -inf
15538.0 2017-03-31  NaN   NaN  -0.208736 -19.124     -inf
        2015-09-30  NaN   NaN  -0.208736 -19.124     -inf
        2017-09-30  NaN   NaN  -0.208736 -19.124     -inf

In [66]:
stocks.loc[14809].sort_index().head(50)

,RET,SPREAD,RETX,date,MV,IB,SEQ,SALE,lag EP v1,lag IB,lag NIM,lag SALE
DATE,,,,,,,,,,,,
1981-07-31,NaN,0.3750,NaN,1981-07-31,7679.5625,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981-08-31,-0.172414,0.5000,-0.172414,1981-08-31,6355.5000,NaN,NaN,NaN,-0.240328,-1.873,-inf,0.000
1981-09-30,-0.125000,0.3750,-0.125000,1981-09-30,5561.0625,NaN,NaN,NaN,-0.053616,-0.341,-0.060665,5.621
1981-10-31,0.000000,0.1250,0.000000,1981-10-31,5561.0625,NaN,NaN,NaN,-0.053616,-0.341,-0.060665,5.621
1981-11-30,-0.190476,0.3750,-0.190476,1981-11-30,4501.8125,NaN,NaN,NaN,-0.053616,-0.341,-0.060665,5.621
1981-12-31,0.352941,0.1250,0.352941,1981-12-31,6095.0000,NaN,NaN,NaN,-0.240328,-1.873,-inf,0.000
1982-01-31,-0.130435,0.2500,-0.130435,1982-01-31,5300.0000,NaN,NaN,NaN,-0.053616,-0.341,-0.060665,5.621
1982-02-28,0.200000,0.2500,0.200000,1982-02-28,6360.0000,NaN,NaN,NaN,-0.240328,-1.873,-inf,0.000
1982-03-31,-0.166667,0.2500,-0.166667,1982-03-31,5300.0000,NaN,NaN,NaN,-0.053616,-0.341,-0.060665,5.621
1982-04-30,0.000000,0.2500,0.000000,1982-04-30,5300.0000,NaN,NaN,NaN,-0.053616,-0.341,-0.060665,5.621
1982-05-31,0.150000,0.3750,0.150000,1982-05-31,6095.0000,NaN,NaN,NaN,-0.240328,-1.873,-inf,0.000
1982-06-30,0.043478,0.2500,0.043478,1982-06-30,6360.0000,-0.341,4.001,5.621,-0.240328,-1.873,-inf,0.000
1982-07-31,0.000000,0.2500,0.000000,1982-07-31,6360.0000,NaN,NaN,NaN,-0.240328,-1.873,-inf,0.000
1982-08-31,0.125000,0.1250,0.125000,1982-08-31,7155.0000,NaN,NaN,NaN,-0.240328,-1.873,-inf,0.000
1982-09-30,0.111111,0.2500,0.111111,1982-09-30,7950.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-10-31,0.200000,0.2500,0.200000,1982-10-31,9540.0000,NaN,NaN,NaN,-0.223793,-2.289,-3.027778,0.756
1982-11-30,-0.027778,0.1250,-0.027778,1982-11-30,9275.0000,NaN,NaN,NaN,-0.223793,-2.289,-3.027778,0.756
1982-12-31,0.142857,0.2500,0.142857,1982-12-31,10600.0000,NaN,NaN,NaN,-0.032234,-0.363,-0.074248,4.889
1983-01-31,0.050000,0.2500,0.050000,1983-01-31,11130.0000,NaN,NaN,NaN,-0.015136,-0.190,-0.099165,1.916
1983-02-28,-0.071429,0.1250,-0.071429,1983-02-28,10335.0000,NaN,NaN,NaN,-0.246650,-2.656,-0.660368,4.022
1983-03-31,-0.025641,0.2500,-0.025641,1983-03-31,10188.7500,NaN,NaN,NaN,-0.246650,-2.656,-0.660368,4.022
1983-04-30,-0.052632,0.2500,-0.052632,1983-04-30,9652.5000,NaN,NaN,NaN,-0.223793,-2.289,-3.027778,0.756
1983-05-31,-0.027778,0.1250,-0.027778,1983-05-31,9384.3750,NaN,NaN,NaN,-0.223793,-2.289,-3.027778,0.756
1983-06-30,0.200000,0.2500,0.200000,1983-06-30,11261.2500,-0.363,3.688,4.889,-0.015136,-0.190,-0.099165,1.916
1983-07-31,-0.238095,0.2500,-0.238095,1983-07-31,8580.0000,NaN,NaN,NaN,-0.223793,-2.289,-3.027778,0.756
1983-08-31,0.000000,0.2500,0.000000,1983-08-31,8580.0000,NaN,NaN,NaN,-0.223793,-2.289,-3.027778,0.756
1983-09-30,0.031250,0.1250,0.031250,1983-09-30,8973.9375,NaN,NaN,NaN,-0.223793,-2.289,-3.027778,0.756
1983-10-31,0.242424,0.1250,0.242424,1983-10-31,11149.4375,NaN,NaN,NaN,-0.015136,-0.190,-0.099165,1.916
1983-11-30,-0.048780,0.1250,-0.048780,1983-11-30,10605.5625,NaN,NaN,NaN,-0.032234,-0.363,-0.074248,4.889
1983-12-31,0.076923,0.2500,0.076923,1983-12-31,11571.0000,NaN,NaN,NaN,-0.174285,-2.350,-8.274648,0.284
1984-01-31,-0.047619,0.2500,-0.047619,1984-01-31,11020.0000,NaN,NaN,NaN,-0.032234,-0.363,-0.074248,4.889
1984-02-29,0.000000,0.2500,0.000000,1984-02-29,11020.0000,NaN,NaN,NaN,-0.032234,-0.363,-0.074248,4.889
1984-03-31,-0.100000,0.2500,-0.100000,1984-03-31,10980.0000,NaN,NaN,NaN,-0.032234,-0.363,-0.074248,4.889
1984-04-30,0.027778,0.1250,0.027778,1984-04-30,11285.0000,NaN,NaN,NaN,-0.015136,-0.190,-0.099165,1.916
1984-05-31,-0.054054,0.1250,-0.054054,1984-05-31,10675.0000,NaN,NaN,NaN,-0.032234,-0.363,-0.074248,4.889
1984-06-30,-0.057143,0.1250,-0.057143,1984-06-30,10768.3125,-2.656,1.719,4.022,-0.032234,-0.363,-0.074248,4.889
1984-07-31,-0.090909,0.2500,-0.090909,1984-07-31,9789.3750,NaN,NaN,NaN,-0.246650,-2.656,-0.660368,4.022
1984-08-31,0.066667,0.2500,0.066667,1984-08-31,10442.0000,NaN,NaN,NaN,-0.246650,-2.656,-0.660368,4.022
1984-09-30,-0.031250,0.1250,-0.031250,1984-09-30,10514.8125,NaN,NaN,NaN,-0.246650,-2.656,-0.660368,4.022
1984-10-31,-0.064516,0.1250,-0.064516,1984-10-31,9836.4375,NaN,NaN,NaN,-0.246650,-2.656,-0.660368,4.022
1984-11-30,-0.310345,0.2500,-0.310345,1984-11-30,6783.7500,NaN,NaN,NaN,-0.240328,-1.873,-inf,0.000
1984-12-31,-0.225000,0.0625,-0.225000,1984-12-31,5258.3750,NaN,NaN,NaN,-0.053616,-0.341,-0.060665,5.621
1985-01-31,0.483871,0.1250,0.483871,1985-01-31,7802.7500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985-02-28,0.434783,0.1250,0.434783,1985-02-28,11195.2500,NaN,NaN,NaN,-0.015136,-0.190,-0.099165,1.916
1985-03-31,0.363636,0.1250,0.363636,1985-03-31,18720.0000,NaN,NaN,NaN,-0.081355,-1.852,-1.882114,0.984
1985-04-30,0.077778,0.1875,0.077778,1985-04-30,20176.0000,NaN,NaN,NaN,-0.081355,-1.852,-1.882114,0.984
1985-05-31,-0.092784,0.1250,-0.092784,1985-05-31,18304.0000,NaN,NaN,NaN,-0.081355,-1.852,-1.882114,0.984
1985-06-30,-0.056818,0.1875,-0.056818,1985-06-30,18052.5000,-1.801,1.442,0.565,-0.081355,-1.852,-1.882114,0.984
1985-07-31,-0.132530,0.1250,-0.132530,1985-07-31,15660.0000,NaN,NaN,NaN,-0.081355,-1.852,-1.882114,0.984
1985-08-31,-0.180556,0.0625,-0.180556,1985-08-31,12832.5000,NaN,NaN,NaN,-0.077135,-1.216,-0.758578,1.603

In [68]:
stocks['lag NIM'].describe()

count    2.393217e+06
mean              NaN
std               NaN
min              -inf
25%     -8.929055e-03
50%      3.826732e-02
75%      8.723393e-02
max               inf
Name: lag NIM, dtype: float64

In [87]:
stocks_nim = stocks.loc[(stocks['lag NIM']>0) & (stocks['lag NIM']<=0.5)]
stocks_nim.head()

                         RET  SPREAD      RETX       date             MV  \
PERMNO  DATE
10001.0 2014-10-31 -0.035140     NaN -0.038950 2014-10-31  119038.804001
        2014-08-31 -0.121412     NaN -0.124903 2014-08-31  118304.637199
        2014-12-31 -0.037826     NaN -0.041739 2014-12-31  115577.764801
        2014-04-30  0.087972     NaN  0.083499 2014-04-30  114319.195999
        2014-06-30  0.009056     NaN  0.004766 2014-06-30  110543.519600

                       IB     SEQ    SALE  lag EP v1  lag IB  lag NIM  \
PERMNO  DATE
10001.0 2014-10-31    NaN     NaN     NaN   0.003976   0.525  0.00528
        2014-08-31    NaN     NaN     NaN   0.003976   0.525  0.00528
        2014-12-31  2.729  96.311  132.57   0.003976   0.525  0.00528
        2014-04-30    NaN     NaN     NaN   0.003976   0.525  0.00528
        2014-06-30    NaN     NaN     NaN   0.003976   0.525  0.00528

                    lag SALE
PERMNO  DATE
10001.0 2014-10-31    99.441
        2014-08-31    99.441
        2014-12-31    99.441
        2014-04-30    99.441
        2014-06-30    99.441

In [88]:
stocks_nim['lag NIM'].describe()

count    1.735975e+06
mean     7.990258e-02
std      7.060053e-02
min      4.016177e-06
25%      3.089432e-02
50%      5.955948e-02
75%      1.078099e-01
max      5.000000e-01
Name: lag NIM, dtype: float64

In [90]:
stocks_nim.loc[10443].head(50).sort_index()

,RET,SPREAD,RETX,date,MV,IB,SEQ,SALE,lag EP v1,lag IB,lag NIM,lag SALE
DATE,,,,,,,,,,,,
2006-11-30,0.139336,NaN,0.139336,2006-11-30,277073.873566,NaN,NaN,NaN,0.020645,6.093,0.175864,34.646
2006-12-31,0.014893,NaN,0.014893,2006-12-31,281573.761841,NaN,NaN,NaN,0.020645,6.093,0.175864,34.646
2007-03-31,0.051144,NaN,0.051144,2007-03-31,272683.231857,NaN,NaN,NaN,0.020645,6.093,0.175864,34.646
2007-07-31,0.037024,NaN,0.037024,2007-07-31,276832.901276,NaN,NaN,NaN,0.020645,6.093,0.175864,34.646
2007-08-31,0.023245,NaN,0.023245,2007-08-31,283268.000000,NaN,NaN,NaN,0.020645,6.093,0.175864,34.646
2007-09-30,0.068913,NaN,0.068913,2007-09-30,300035.328827,9.505,130.461,154.282,0.047551,15.385,0.110071,139.774
2007-10-31,0.002339,NaN,0.002339,2007-10-31,300737.069069,NaN,NaN,NaN,0.047551,15.385,0.110071,139.774
2007-11-30,-0.047479,NaN,-0.047479,2007-11-30,286458.388138,NaN,NaN,NaN,0.031680,9.505,0.061608,154.282
2007-12-31,-0.004686,NaN,-0.004686,2007-12-31,285956.990662,NaN,NaN,NaN,0.020645,6.093,0.175864,34.646
2009-11-30,0.062159,NaN,0.062159,2009-11-30,285363.913727,NaN,NaN,NaN,0.020645,6.093,0.175864,34.646
2009-12-31,0.010592,NaN,0.010592,2009-12-31,288575.297203,NaN,NaN,NaN,0.031680,9.505,0.061608,154.282
2010-12-31,0.249127,NaN,0.249127,2010-12-31,287060.477173,NaN,NaN,NaN,0.031680,9.505,0.061608,154.282
2013-04-30,0.040618,NaN,0.040618,2013-04-30,276327.757282,NaN,NaN,NaN,0.020645,6.093,0.175864,34.646
2013-05-31,0.001036,NaN,0.001036,2013-05-31,276614.095631,NaN,NaN,NaN,0.020645,6.093,0.175864,34.646
2013-06-30,0.036577,NaN,0.036577,2013-06-30,286942.088745,NaN,NaN,NaN,0.031680,9.505,0.061608,154.282
2013-08-31,-0.099565,NaN,-0.099565,2013-08-31,296303.044373,NaN,NaN,NaN,0.039221,12.024,0.321008,37.457
2015-02-28,0.052270,NaN,0.052270,2015-02-28,296526.692225,NaN,NaN,NaN,0.039221,12.024,0.321008,37.457
2015-05-31,-0.124136,NaN,-0.124136,2015-05-31,297136.108509,NaN,NaN,NaN,0.039221,12.024,0.321008,37.457
2015-06-30,0.066426,NaN,0.066426,2015-06-30,316873.532982,NaN,NaN,NaN,0.030441,10.019,0.062564,160.140
2015-07-31,-0.090040,NaN,-0.090040,2015-07-31,288342.212236,NaN,NaN,NaN,0.031680,9.505,0.061608,154.282
2015-08-31,0.054219,NaN,0.054219,2015-08-31,303975.815964,NaN,NaN,NaN,0.047551,15.385,0.110071,139.774
2015-09-30,-0.031180,NaN,-0.031180,2015-09-30,295130.874023,6.093,182.342,34.646,0.031680,9.505,0.061608,154.282
2015-11-30,-0.060909,NaN,-0.060909,2015-11-30,303454.077759,NaN,NaN,NaN,0.047551,15.385,0.110071,139.774
2016-01-31,-0.105480,NaN,-0.105480,2016-01-31,297436.925980,NaN,NaN,NaN,0.039221,12.024,0.321008,37.457
2016-05-31,-0.161184,NaN,-0.161184,2016-05-31,299788.203737,NaN,NaN,NaN,0.047551,15.385,0.110071,139.774
2016-09-30,-0.076946,NaN,-0.076946,2016-09-30,306567.686989,12.024,196.099,37.457,0.030441,10.019,0.062564,160.140
2016-10-31,0.023495,NaN,0.023495,2016-10-31,313770.592472,NaN,NaN,NaN,0.030441,10.019,0.062564,160.140
2017-06-30,0.096200,NaN,0.096200,2017-06-30,456008.165077,NaN,NaN,NaN,0.019062,9.321,0.392364,23.756
2017-07-31,0.000000,NaN,0.000000,2017-07-31,456008.165077,NaN,NaN,NaN,0.019062,9.321,0.392364,23.756
2017-08-31,-0.048754,NaN,-0.048754,2017-08-31,433775.915077,NaN,NaN,NaN,0.005117,2.343,0.106394,22.022
2017-09-30,0.030752,NaN,0.030752,2017-09-30,447115.250000,NaN,NaN,NaN,0.019062,9.321,0.392364,23.756
2017-10-31,-0.019890,NaN,-0.019890,2017-10-31,438222.334923,NaN,NaN,NaN,0.005117,2.343,0.106394,22.022
2017-11-30,0.029312,NaN,0.029312,2017-11-30,451067.665077,NaN,NaN,NaN,0.019062,9.321,0.392364,23.756
2017-12-31,-0.030668,NaN,-0.030668,2017-12-31,443163.750000,41.750,243.530,43.191,0.005117,2.343,0.106394,22.022
2018-10-31,-0.219485,NaN,-0.219485,2018-10-31,485427.062225,NaN,NaN,NaN,0.008959,4.565,0.121795,37.481
2018-11-30,-0.034042,NaN,-0.034042,2018-11-30,468902.296944,NaN,NaN,NaN,0.019062,9.321,0.392364,23.756
2018-12-31,-0.017300,NaN,-0.017300,2018-12-31,457845.493298,2.343,364.607,22.022,0.019062,9.321,0.392364,23.756
2019-03-31,-0.071805,NaN,-0.071805,2019-03-31,472750.656967,NaN,NaN,NaN,0.008959,4.565,0.121795,37.481
2019-05-31,-0.082265,NaN,-0.082265,2019-05-31,462315.764549,NaN,NaN,NaN,0.019062,9.321,0.392364,23.756
2019-07-31,-0.110992,NaN,-0.110992,2019-07-31,492726.058197,NaN,NaN,NaN,0.008959,4.565,0.121795,37.481
2019-08-31,-0.007866,NaN,-0.007866,2019-08-31,488850.206352,NaN,NaN,NaN,0.008959,4.565,0.121795,37.481
2019-09-30,-0.023785,NaN,-0.023785,2019-09-30,477222.764549,NaN,NaN,NaN,0.008959,4.565,0.121795,37.481
2019-12-31,-0.001804,NaN,-0.001804,2019-12-31,488984.783482,9.321,374.888,23.756,0.008959,4.565,0.121795,37.481
2020-01-31,-0.049588,NaN,-0.049588,2020-01-31,464736.781498,NaN,NaN,NaN,0.019062,9.321,0.392364,23.756
2020-02-29,-0.044571,NaN,-0.044571,2020-02-29,444022.905506,NaN,NaN,NaN,0.019062,9.321,0.392364,23.756
2020-11-30,0.131735,NaN,0.131735,2020-11-30,431250.228622,NaN,NaN,NaN,0.005117,2.343,0.106394,22.022
2020-12-31,-0.005241,NaN,-0.005241,2020-12-31,426530.192856,12.715,367.654,23.583,0.005117,2.343,0.106394,22.022
2021-02-28,0.045149,NaN,0.045149,2021-02-28,422690.954285,NaN,NaN,NaN,0.005117,2.343,0.106394,22.022
2021-03-31,0.090386,NaN,0.090386,2021-03-31,462077.371460,NaN,NaN,NaN,0.019062,9.321,0.392364,23.756
2021-04-30,0.031288,NaN,0.031288,2021-04-30,476534.864243,NaN,NaN,NaN,0.008959,4.565,0.121795,37.481

In [78]:
stocks_nim[(stocks_nim['lag NIM']>=0.90) & (].head()

                         RET  SPREAD      RETX       date             MV  IB  \
PERMNO  DATE
10443.0 2022-01-31 -0.022837     NaN -0.022837 2022-01-31  531533.275692 NaN
        2023-01-31  0.042889     NaN  0.042889 2023-01-31  531368.182678 NaN
        2021-09-30 -0.030849     NaN -0.030849 2021-09-30  526263.102768 NaN
        2021-06-30 -0.028781     NaN -0.028781 2021-06-30  524004.482872 NaN
        2018-02-28  0.046046     NaN  0.046046 2018-02-28  523283.750000 NaN
...                      ...     ...       ...        ...            ...  ..
92823.0 1990-02-28 -0.672131     NaN -0.672131 1990-02-28    9536.250000 NaN
        1990-04-30  0.428571     NaN  0.428571 1990-04-30    9536.250000 NaN
        1990-05-31  0.000000     NaN  0.000000 1990-05-31    9536.250000 NaN
        1990-06-30 -0.200000     NaN -0.200000 1990-06-30    7629.000000 NaN
        1990-03-31 -0.300000     NaN -0.300000 1990-03-31    6675.375000 NaN

                    SEQ  SALE  lag EP v1  lag IB   lag NIM  lag SALE
PERMNO  DATE
10443.0 2022-01-31  NaN   NaN   0.051870  28.215  0.903748     31.22
        2023-01-31  NaN   NaN   0.051870  28.215  0.903748     31.22
        2021-09-30  NaN   NaN   0.051870  28.215  0.903748     31.22
        2021-06-30  NaN   NaN   0.051870  28.215  0.903748     31.22
        2018-02-28  NaN   NaN   0.051870  28.215  0.903748     31.22
...                 ...   ...        ...     ...       ...       ...
92823.0 1990-02-28  NaN   NaN   0.177823  10.005  0.921271     10.86
        1990-04-30  NaN   NaN   0.177823  10.005  0.921271     10.86
        1990-05-31  NaN   NaN   0.177823  10.005  0.921271     10.86
        1990-06-30  NaN   NaN   0.177823  10.005  0.921271     10.86
        1990-03-31  NaN   NaN   0.177823  10.005  0.921271     10.86

[715 rows x 12 columns]

In [149]:
stocks_filtered_copy = stocks_filtered.copy()
# stocks_filtered_copy = stocks_filtered_copy.reset_index()

In [154]:
stocks_filtered_copy['Rank EP v1'] = stocks_filtered_copy['lag EP v1'].groupby('DATE').rank(ascending=False)
stocks_filtered_copy = stocks_filtered_copy[stocks_filtered_copy['Rank EP v1'] <= 100]

stocks_filtered_copy['Rank NIM'] = stocks_filtered_copy['lag NIM'].groupby('DATE').rank(ascending=False)
stocks_filtered_copy = stocks_filtered_copy[stocks_filtered_copy['Rank NIM'] <= 50]

# stocks_filtered_copy.head()

/var/folders/76/7ftvty753sx628h00l7k3dy80000gn/T/ipykernel_43434/1357390804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stocks_filtered_copy['Rank EP v1'] = stocks_filtered_copy['lag EP v1'].groupby('DATE').rank(ascending=False)

In [158]:
stocks_filtered_copy.head()

                         RET  SPREAD      RETX       date            MV  IB  \
PERMNO  DATE
10001.0 2008-02-29  0.021704     NaN  0.017846 2008-02-29  41277.064910 NaN
        2007-12-31 -0.003930     NaN -0.007719 2007-12-31  40652.500987 NaN
10012.0 1987-07-31  0.076923  0.2500  0.076923 1987-07-31   3340.750000 NaN
        1990-07-31  0.045455  0.1875  0.045455 1990-07-31   3327.093750 NaN
10014.0 1962-02-28  0.090909     NaN  0.090909 1962-02-28  14499.000000 NaN

                    SEQ  SALE  lag EP v1  lag IB   lag NIM  lag SALE  \
PERMNO  DATE
10001.0 2008-02-29  NaN   NaN   0.151809   6.819  0.095432    71.454
        2007-12-31  NaN   NaN   0.151809   6.819  0.095432    71.454
10012.0 1987-07-31  NaN   NaN   0.203709   0.821  0.136719     6.005
        1990-07-31  NaN   NaN   0.203709   0.821  0.136719     6.005
10014.0 1962-02-28  NaN   NaN   0.156076   2.450  0.062854    38.979

                    Rank EP v1  Rank NIM
PERMNO  DATE
10001.0 2008-02-29        91.0      49.0
        2007-12-31        88.0      48.0
10012.0 1987-07-31        91.0      20.0
        1990-07-31        99.0      17.0
10014.0 1962-02-28        94.0      33.0

In [166]:
stocks_filtered_copy[['Rank EP v1', 'Rank NIM']].describe()

         Rank EP v1     Rank NIM
count  14100.000000  14100.00000
mean      50.364184     25.50000
std       28.827949     14.43131
min        1.000000      1.00000
25%       25.000000     13.00000
50%       50.000000     25.50000
75%       75.000000     38.00000
max      100.000000     50.00000

In [165]:
stocks_filtered_copy = stocks_filtered_copy[stocks_filtered_copy['date']>'2000-01-01']

In [164]:
stocks_filtered_copy['date'].nunique()*50

36900