In [6]:
import pandas as pd
x = pd.DataFrame([[1, 2], [3, 4]], columns=['y', 'z'])

In [7]:
x

   y  z
0  1  2
1  3  4

In [8]:
for i in x['y']:
    print(i)

1
3

In [12]:
x[(x['y'] == 3)]['z'].values[0]

4

In [13]:
x['y'].min()

1

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.tseries.offsets import MonthEnd
import statsmodels.formula.api as smf
import cvxpy as cp
import os
os.getcwd()
pd.set_option('display.max_columns', None)

In [19]:
stocks = pd.read_feather('crsp_monthly_stocks.feather')
cstat  = pd.read_feather('compustat_annual.feather')

In [17]:
# stocks.set_index(['PERMNO'], inplace=True)

In [20]:
stocks

,PERMNO,DATE,SHRCD,EXCHCD,SICCD,PRC,VOL,RET,SPREAD,RETX,SHROUT
0,10000.0,1986-01-31,10.0,3.0,3990.0,-4.375000,1771.0,NaN,0.25000,NaN,3680.0
1,10000.0,1986-02-28,10.0,3.0,3990.0,-3.250000,828.0,-0.257143,0.25000,-0.257143,3680.0
2,10000.0,1986-03-31,10.0,3.0,3990.0,-4.437500,1078.0,0.365385,0.12500,0.365385,3680.0
3,10000.0,1986-04-30,10.0,3.0,3990.0,-4.000000,957.0,-0.098592,0.25000,-0.098592,3793.0
4,10000.0,1986-05-30,10.0,3.0,3990.0,-3.109375,1074.0,-0.222656,0.09375,-0.222656,3793.0
...,...,...,...,...,...,...,...,...,...,...,...
3452883,93436.0,2023-02-28,11.0,3.0,9999.0,205.710007,36239683.0,0.187565,NaN,0.187565,3164103.0
3452884,93436.0,2023-03-31,11.0,3.0,9999.0,207.460007,33115078.0,0.008507,NaN,0.008507,3169314.0
3452885,93436.0,2023-04-28,11.0,3.0,9999.0,164.309998,25038244.0,-0.207992,NaN,-0.207992,3169504.0
3452886,93436.0,2023-05-31,11.0,3.0,9999.0,203.929993,26816033.0,0.241130,NaN,0.241130,3169504.0
3452887,93436.0,2023-06-30,11.0,3.0,9999.0,261.769989,34409322.0,0.283627,NaN,0.283627,3169504.0

In [22]:
stocks['lag_VOL'] = stocks['VOL'].shift(1)

In [23]:
stocks

,PERMNO,DATE,SHRCD,EXCHCD,SICCD,PRC,VOL,RET,SPREAD,RETX,SHROUT,lag_VOL
0,10000.0,1986-01-31,10.0,3.0,3990.0,-4.375000,1771.0,NaN,0.25000,NaN,3680.0,NaN
1,10000.0,1986-02-28,10.0,3.0,3990.0,-3.250000,828.0,-0.257143,0.25000,-0.257143,3680.0,1771.0
2,10000.0,1986-03-31,10.0,3.0,3990.0,-4.437500,1078.0,0.365385,0.12500,0.365385,3680.0,828.0
3,10000.0,1986-04-30,10.0,3.0,3990.0,-4.000000,957.0,-0.098592,0.25000,-0.098592,3793.0,1078.0
4,10000.0,1986-05-30,10.0,3.0,3990.0,-3.109375,1074.0,-0.222656,0.09375,-0.222656,3793.0,957.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3452883,93436.0,2023-02-28,11.0,3.0,9999.0,205.710007,36239683.0,0.187565,NaN,0.187565,3164103.0,38949518.0
3452884,93436.0,2023-03-31,11.0,3.0,9999.0,207.460007,33115078.0,0.008507,NaN,0.008507,3169314.0,36239683.0
3452885,93436.0,2023-04-28,11.0,3.0,9999.0,164.309998,25038244.0,-0.207992,NaN,-0.207992,3169504.0,33115078.0
3452886,93436.0,2023-05-31,11.0,3.0,9999.0,203.929993,26816033.0,0.241130,NaN,0.241130,3169504.0,25038244.0
3452887,93436.0,2023-06-30,11.0,3.0,9999.0,261.769989,34409322.0,0.283627,NaN,0.283627,3169504.0,26816033.0